/* start of global rules  */
* {
    
        font-family: "Barlow Semi Condensed", serif;
        font-weight: 500;
        font-style: normal;
        Font-size: 13px;
        box-sizing: border-box;
        
    }
:root {
    --moderateViolet:hsl(263, 55%, 52%);
    --darkGrayishBlue:hsl(217, 19%, 35%);
    --darkBlackishBlue:hsl(219, 29%, 14%);
    --lightGray:hsla(0, 0%, 81%, 0.5);
    --lightGrayishBlue:hsla(210, 46%, 95%, 0.7);
    --mainRadius:15px;
}
body {   
     background-color: #ccd3dc;
}
.container {
    width: 100%;
    margin: auto;
    padding: 30px 80px ;
    /* margin-top: -70px; */
    display: grid;
    grid-template-columns: repeat(4 , minmax(300px,1fr)) ;
    grid-template-rows:    repeat(auto-fill, 1fr);
    grid-template-areas: 
                "  div1  div1  div2  div3"
                "  div4  div5  div5  div3"
                ;
                gap: 20px;
                
}
.container> div {
    padding: 15px 35px ;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-radius: var(--mainRadius);
    box-shadow: 0 5px 5px  rgba(0, 0,0,20%);
}
.container img {
    width: 66px;
    height: 66px ;
}
        h1 {
font-size: 22px;
margin-top: 10px;
}
p {
    /* margin-top: -80px; */
    font-size: 14px !important;
    line-height: 1.6;
    color:var(--lightGrayishBlue);
    padding: 0;
}
.text{
    margin-left:15px;
    margin-top: 5px;
    padding: 0px !important;
    display: flex;
    flex-direction: column;

   
}
.image {
    display: flex;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 10px;
    width: 100%;
}

img {
    /* display: block; */
    border: 1px solid white;
    border-radius: 50%;
    margin: 0;
}
.image h3{
    margin: 0;
    padding: 0;
    font-size: 20px;
    
}

.image p {
    color: var(--lightGray);
    margin: -5px;
    width: fit-content;
    margin-left: 2px;
    
}
.body{
    margin-top: 0px
}

.white {
    color:white;
}
.black {
    color:black;
}
.review {
    font-size: 1.2em;
}
/* end of global rules  */


/* start div1  */
.div1 {
    grid-area: div1;
    background-color: var(--moderateViolet);
    position: relative;
    background-image: url(Assets/bg-pattern-quotation.svg);
    background-size: 180px 180px; /* Adjust the size here */
    background-repeat: no-repeat;
    background-position: right 100px top 0;
}
/*  */

/* END  div1  */
.div2 {
    grid-area: div2;
    background-color: var(--darkGrayishBlue);
}
.div2 .image {
    display: flex;
}
.div3 {
    grid-area: div3;
    background-color: white;
} 
.div3 .body {
    margin-top: 5px;
}
.div3 .body p {
    color:#999
}
.div4 {
    grid-area: div4;
    background-color: white;

}
.div4 .body p {
    color:#999
}
.div5 {
    grid-area: div5;
    background-color: var(--darkBlackishBlue);
}
@media (max-width:767px){
    .container {
        padding:60px 70px;
        display: flex ;
        flex-direction: column;
    }
    .body {
        margin-top: 0 ;
    }
    .div3 {
        order:5;
    }
    .div4 {
        order: 2;
    }
    .div5 {
        order:3;
    }
    

}
@media (min-width:768px) and (max-width:1079px) {
    .container {
        padding:60px 70px;  
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(300px,1fr)) ;
        grid-template-rows:repeat(auto-fill, 1fr);
        grid-template-areas: 
                "  div1  div2  "
                "  div4  div5  "
                "  div3  div3"
                ;
    }

}
@media (min-width:1080px) and (max-width:1340px) {
    .container {
        
        gap: 20px; 
        grid-template-columns: repeat(auto-fill , minmax(300px,1fr)) ;
        grid-template-rows:repeat(auto-fill, 1fr);
        grid-template-areas: 
                "  div1  div5 div4 "
                "  div3  div3 div2"
                  
                ;
    }
}


